.select-wrapper {
  position: relative;
  display: inline-block;
  width: calc(100% - 10px);
  margin-top: 75px;
}
.select-wrapper input {
  margin: 10px;
  width: 50vw;
  max-width: 350px;
}
.accordion-button {
  display: flex;
  justify-content: flex-start; /* Вирівнює контент на початку */
  align-items: center;
  width: auto;
  background-color: #ffffff !important;
}

.accordion-button::after {
  order: -1; /* Переміщує іконку на початок */
  margin-left: 0; /* Забирає відступ зліва */
}
.main-content {
  display: flex;
  align-items: center;
}
.bad-status {
  background-color: #ffb2b2;
  border: 2px solid #c99494;
  color: #ff0000;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: bold;
}
.good-status {
  background-color: #aaf4aa;
  border: 2px solid #8ba78b;
  color: #007900;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: bold;
}
.normal-status {
  background-color: #ffbf36;
  border: 2px solid #a07923;
  color: #795900;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: bold;
}
.dark-red-status {
  background-color: #b22222; /* Темно-красный */
  border: 2px solid #8b1a1a;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: bold;
}

.blue-status {
  background-color: #add8e6; /* Голубой */
  border: 2px solid #8cb3c7;
  color: #0047ab;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: bold;
}

.gray-status {
  background-color: #d3d3d3; /* Серый */
  border: 2px solid #a9a9a9;
  color: #4f4f4f;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: bold;
}
progress[value] {
  --color: #5eab4a; /* the progress color */
  --background: #cdcdcd; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10em;
  background: var(--background);
  width: 100%;
  height: 10px;
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

.status-photo {
  max-height: 80px;
  margin-left: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.status-time {
  width: 100px;
}
.hide {
  display: none;
}
ul.custom-list {
  list-style: none; /* Видаляємо стандартний маркер */
  padding-left: 0;
}

ul.custom-list li {
  position: relative; /* Для розміщення псевдоелемента відносно li */
  padding: 4px;
  padding-left: 30px; /* Відступ для маркера */
}

ul.custom-list li::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background-color: #007bff;
  border-radius: 50%;
}

ul.custom-list li::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #007bff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white;
}
ul.custom-list .unloading::after {
  content: "";
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px white;
}
ul.custom-list .last-unloading::before {
  border-radius: 0;
}
ul.custom-list .last-unloading::after {
  border-radius: 0;
}
li .list-container::before {
  content: "";
  position: absolute; /* Абсолютне позиціонування */
  left: 15px; /* Вирівнювання зліва */
  top: 0; /* Від верхнього краю елемента */
  bottom: 50%; /* До середини елемента */
  width: 3px; /* Ширина смужки */
  background-color: #007bff; /* Колір смужки */
}

/* Стилі для псевдоелемента after */
li .list-container::after {
  content: "";
  position: absolute; /* Абсолютне позиціонування */
  left: 15px; /* Вирівнювання зліва */
  top: 50%; /* Від середини елемента */
  bottom: 0; /* До нижнього краю елемента */
  width: 3px; /* Ширина смужки */
  background-color: #007bff; /* Колір смужки */
}

/* Приховати псевдоелемент before для першого елемента */
li:first-child .list-container::before {
  display: none;
}

/* Приховати псевдоелемент after для останнього елемента */
li:last-child .list-container::after {
  display: none;
}

/* Якщо в списку тільки один елемент, приховати обидва псевдоелементи */
li:only-child .list-container::before,
li:only-child .list-container::after {
  display: none;
}
.move {
  padding-left: 15px;
}
.move::before {
  content: "";
  width: 3px;
  top: 25%;
  height: 50%;
  position: absolute;
  background-color: #007bff;
}
