.background-blue {
  /* background-color: #eaf0ff; */
  background-color: rgb(251, 251, 255);
}
.background-red {
  /* background-color: #ffecef; */
  background-color: rgb(255, 251, 251);
}
.background-green {
  /* background-color: #edffec; */
  background-color: rgb(251, 255, 251);
}
.background-brown {
  /* background-color: #feece2; */
  background-color: rgb(255, 253, 251);
}
.background-lightgrey {
  background-color: #f9f9f9;
}
.background-darkgrey {
  background-color: #eaeaea;
}
.background-violet {
  background-color: rgb(255, 251, 255);
}
.background-default {
  background-color: #ffffff;
}
.form-control {
  background-color: #ffffff;
}
.form-check-input {
  background-color: #ffffff;
}
.form-select {
  background-color: #ffffff;
}
.hidden {
  display: none;
}
